

.education-section{
    width: 62%;
    max-width: 944px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.education-section p{
    width: 120px;
    flex-grow: 1;
}

.education-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
}


@media screen and (max-width: 490px) {
    .education-section{
        width: 88%;
    }

    .education-container{
        gap: 32px;
    }

}

