

.education-section{
    width: 62%;
    margin: 0 auto;
    padding-bottom: 120px;
}

.education-section p{
    width: 120px;
    flex-grow: 1;
}

.education-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
}


