
main{
    width: 62%;
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

h1{
    font-size: 3rem;
    font-weight: 500;
    margin: 64px 0 120px;
    line-height: 1.5;
}

span{
    color: #905d16;
}

p{
    font-size: 1.4rem;
    text-align: left;
    line-height: 1.6;
    color: #24211d;
}

main p{
    margin-top: 42px;
}

.about{
    margin-top: 120px;
}


.straight-line{
    height: 2px;
    background: #EADCC3;
    margin: 100px auto;
    width: 100%;
}

b{
    font-weight: 600;
}