
main{
    width: 62%;
    max-width: 944px;
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 12px;
    box-shadow: 1px 4px 16px #4f4f4f1a;
}

h1{
    font-size: 3rem;
    font-weight: 500;
    margin: 64px 0 120px;
    line-height: 1.5;
}

span{
    color: #905d16;
}

p{
    font-size: 1.4rem;
    text-align: left;
    line-height: 1.6;
    color: #24211d;
}

main p{
    margin-top: 42px;
}

.about{
    margin-top: 120px;
}


.straight-line{
    height: 2px;
    background: #EADCC3;
    margin: 100px auto;
    width: 100%;
}

b{
    font-weight: 600;
}

@media  screen and (max-width: 490px) {
    main{
        width: 88%;
    }

    h1{
        font-size: 2.125rem;
        margin-bottom: 60px;
    }

    p{
        font-size: 1rem ;
    }

    .about{
        margin-top: 60px;
    }

    .straight-line{
        margin:  80px auto;
    }
}