
footer{
    width: 62%;
    text-align: center;
    margin: 0 auto;
    padding: 32px 0 80px;
}

footer a{
    text-decoration: none;
    font-size: 1.25rem;
    color: #24211d ;
    font-weight: 600;
    display: flex;
}

footer svg{
    margin-left: 12px;
    font-size: 1.5rem;
    font-weight: 200;
}

.social-links-container{
    display: flex;
    justify-content: space-between;
}

.copy-right{
    color: #968f7f;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-top: 154px;
}